{% extends "base.html" %}
{% load static %}

{% block title %} HOME {% endblock %}

{% block images %}
<img src="{% static 'images/slika.jpg' %}" class="img-fluid" alt="Responsive image">
{% endblock %}

{% block head %}
<h1>Heading 1</h1>

<p> Lorem ipsum dolor sit amet,
  consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore
  et dolore magna aliqua. Ut enim ad minim veniam, q
  uis nostrud exercitation ullamco laboris nisi
  ut aliquip ex ea commodo consequat.</p>
{% endblock %}
